.progressBarInner {
    animation: animate-bar linear forwards;
    animation-play-state: paused;
}

@keyframes animate-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.custom-input-range {
    color: red !important;
    background-color: red !important;
}

.mainMediaDiv {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}


@media (max-width: 611px) {
    .mainMediaDiv {
        width: 117% !important;
        margin-left: -9% !important;
    }

    .sizeDiv {
        font-size: 15px !important;
    }

    .sizeDivFullscreen {
        font-size: 25px !important;
    }

    .sizePlusMinus {
        font-size: 20px !important;
    }

    .volumeDiv {
        width: 110px !important;
    }
}



#range1 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

#range1::-webkit-slider-runnable-track {
    height: 8px;
    background: #ccc;
    border-radius: 16px;
}

#range1::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

#range1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    margin-top: -3px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: 2px solid #f50;
    box-shadow: -407px 0 0 400px #f50;
}

#range1::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f50;
    box-shadow: -407px 0 0 400px #f50;
}