.progressBarInner {
    animation: animate-bar linear forwards;
    animation-play-state: paused;
}

@keyframes animate-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.custom-input-range {
    color: red !important;
    background-color: red !important;
}

.mainBoxShadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}