.progressBarInner {
    animation: animate-bar linear forwards;
    animation-play-state: paused;
}

@keyframes animate-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}