.progressBarInner {
    animation: animate-bar linear forwards;
    animation-play-state: paused;
}

@keyframes animate-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.custom-input-range {
    color: red !important;
    background-color: red !important;
}

.mainMediaDiv {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}


@media (max-width: 611px) {
    .mainMediaDiv {
        width: 117% !important;
        margin-left: -9% !important;
    }

    .sizeDiv {
        font-size: 15px !important;
    }

    .sizeDivFullscreen {
        font-size: 25px !important;
    }

    .sizePlusMinus {
        font-size: 20px !important;
    }

    .volumeDiv {
        width: 110px !important;
    }
}